// Fonts
$heading-stack: "Orbitron" ,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-stack: "Roboto" ,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Color
$offblack: #333333;
$gold: #A37029;
$gray: #CCCCCC;
$white: #FFFFFF;

